ul,
ol {
  list-style: none; // Для общего применения
  margin: 10px 0;
  padding-left: 20px;
}

ul.numbered,
ol.numbered {
  list-style-type: decimal; // Включаем цифры для нумерованных списков
}

ul.bulleted {
  list-style-type: disc; // Включаем маркеры для обычных списков
}

ul.special {
  list-style-type: circle; // Дополнительный стиль для списков
}
